@import url('../fonts/font.scss');
@import url('../styles/normalize.css');
@import url('../styles/variables.scss');

body {
  padding: 1rem;
  margin: 0;
  font-family: $main-font, sans-serif;
  background-color: $background-main-color;
  color: $text-color-black;
}
