@import '../../mixins/mixins.scss';

.header {
  background-color: var(--background-white-color);
  width: 100%;

  &__container {
    @include flex-center_between
  }

  &__buttons-wrapper {
    @include flex-center;
    gap: 1rem;
  }

  &__buttons-wrapper_right {
    @include flex-center_end;
    gap: 1rem;
  }

  &__buttons-wrapper_left {
    @include flex-center_start;
    gap: 1rem;
    justify-content: flex-start;
  }

  &__button {
    @include round-button;
  }

  &__button-logo {
    max-width: 6rem;
    background: var(--background-white-color);
  }

  &__logo {
    width: 100%;
  }

  &__decor-line {
    border-radius: 0.0625rem;
    width: 0.125rem;
    height: 2rem;
    background-color: var(--background-decorLine-color);
  }

  &__button:active {
    opacity: 0.8;
  }
}

@media (min-width: 767px) {
  .header__container {
    max-width: 767px;
    margin: 0 auto;
  }
}


@media (min-width: 1336px) {
  .header {
    .container {
      padding: 16px;
    }
    & {
      position: absolute;
      top: -150px;
      width: 100%;
      max-width: 1120px;
      z-index: 100;
      right: 0;
    }

    &__buttons-wrapper_absolute {
      position: absolute;
      top: 190px;
      right: 3%;
      @include flex-center;
      gap: 2rem;
      z-index: 99;
    }

    &__button-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &__button-description {
      font-weight: 500;
      font-size: 1rem;
    }

    &__container {
      max-width: 1120px;
      margin: 0;
    }
  }

  

}
